@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');


/* / =========== All Element ======= / */
*{
  margin: 0;padding: 0;
  box-sizing: border-box;
}

/* / =========== Body ======= / */
body{
  font-family: 'Poppins',sans-serif;
}

/* / =========== Heading ======= / */
h1{font-size: 2.5rem;font-weight: 700;}
h2{font-size: 1.8rem;font-weight: 600;}
h3{font-size: 1.4rem;font-weight: 800;}
h4{font-size: 1.1rem;font-weight: 600;}
h5{
  font-size: 1rem;font-weight: 400;
  color: #1d1d1d;
}
h6{
  color: #D8D8D8;
}

/* / =========== Navabar ======= / */
.navbar{
  font-size: 16px;
}

.navbar .logo{
  width: 120px;
}

.navbar .navbar-nav .nav-link{
  padding: 10px 20px !important;
  color: black !important;
  transition: 0.3s ease;
  font-size: 18px;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:active{
  color: coral !important;
}

.navbar .icon-container .nav-item i{
  font-size: 1.2rem;
}

.icon-container{
  display: flex;
  align-items: center;
}

/* / =========== Navbar toogler btn ======= / */

.navbar .navbar-toggler{
  border: none;
  outline: none;
}
.navbar .navbar-toogle-icon{
  font-size: 1.3rem;
  cursor: pointer;
  font-weight: 500;
}
.navbar-toggler{
  transition: 0.3s ease;
  border-radius: 5px;
  padding: 10px 15px !important;
}

.navbar-toggler:hover,.navbar-toggler:focus{
  color: white !important;
  background-color: black !important;
}




/* ====== Title ============ */

.title{
    margin: 2rem 0;
  }

  .title .title-title{
    font-weight: bold;
    color: #1b1b1b;
  }
  .title .line{
    border-top: 3px solid orangered;
    width: 5%;
    margin: 1rem auto;
  }
  .title .title-desc{
    font-weight: 400;
    color: #6b6b6b;
  }


  /* ======== C-btn ===== */

  .c-btn, .shop-btn{
    padding: 10px 18px;
    outline: none;
    border: 1px solid;
    background: black;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;

}
.c-btn > a, .shop-btn > a{
    text-decoration: none !important;
    color: white !important;
}
.c-btn:hover, .shop-btn:hover{
    background-color: #3a3833;
}


  
  /* /============  cloths ==================== */

  
  .cloths  .cloths-product{
    cursor: pointer;
    margin: 0;
  }
  .cloths  .cloths-product img{
    width: 100%;
    transition: 0.3s ease;
  }
  .cloths  .cloths-product img:hover{
      opacity: 0.8;
  }
  .cloths  .cloths-product .rating{
    margin-bottom: 0.5rem;
    color: orangered;
  }

  .cloths  .cloths-product .product-about .product-title{
    color: black;
    font-weight: bold;
    font-family: sans-serif;
    margin: 0.5rem 0;
  }
  .cloths .cloths-product .product-about  .cloths-product-btn{
    background-color: orangered;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.3s ease;
  }
  .cloths  .cloths-product:hover .product-about  .cloths-product-btn{
    opacity: 1;
    margin: 0.5rem 0;
    transform: translateY(0px);
  }


  /* ====== Baneer ========== */
  
  .banner {
    margin: 3rem 0;
    width: 100%;
    height: 60vh;
    background: url('../img/banner/2.jpg');
    background-position: top 70px center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }

  .banner .banner-data{
    color: white;
  }

  .banner .banner-btn{
    outline: none;
    border: none;
    background-color: #fb774b;
  }


  
  /* ======= footer ====== */

  
  .footer{
    width: 100%;
    background-color: #1b1b1b;
    color: white;
  }

  .footer .footer-row{
    margin: auto;
  }

  .footer-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .footer .footer-website-about img,.footer-website-about .footer-desc{
    margin: 1rem 0;
  }

  .footer-container {
    padding: 2rem;
    margin-top: 3rem;
  }

  .footer-container .footer-link .footer-menu{
    display: flex;
    flex-direction: column;
  }
  .footer-container .footer-link .footer-menu  .footer-menu-link{
    text-decoration: none;
    color: #5e5c5c;
    margin: 2px 0;
    width: 20%;
  }

  .footer-contact .footer-contact-desc{
    color: #5e5c5c;
  }

  .footer-instagram .footer-instagram-img-container{
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
  }

  .footer-instagram .footer-instagram-img-container img{
    height: 50px;
    margin: 5px;
  }

  .footer-row > div{
    margin: 5px auto;
  }


  .footer .footer-bottom-section{
    margin: 0;
    padding: 1.5rem 0;
  }

  .footer .footer-bottom-section .footer-bottom-social{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer .footer-bottom-section .footer-bottom-social .link-container{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 5px;
  }

  .footer .footer-bottom-section .footer-bottom-social .link-container i{
    color: black;
    font-size: 20px;
  }

